<h2>Komnata chwały</h2>

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Ilość zwycięstw</th>
            <th>Imię</th>
        </tr>
    </thead>
    <tbody>
        {{#each warriors}}
            <tr>
                <th>{{this.place}}</th>
                <td>{{this.wins}}</td>
                <td>{{this.name}}</td>
            </tr>

        {{/each}}
    </tbody>
</table>
